<section class="section-img-local">
    <span class="container-img-btn-local">
        <img src="../../../assets/img/ferraris-matafuegos-local.png" alt="">
        <span class="container-info-horarios">
            <p class="txt-title-horario">Visita nuestro local</p>
            <p class="txt-info-horario">
                Horarios de Atención:<br>
                Lunes a Viernes 9:30 a 18 hs.<br>
                Sábados 10 a 13hs.<br>
            </p>
            <button class="btn-maps-home">Ver en maps</button>
        </span>
    </span>
</section>