<nav>
    <ul class="container-items-menu">
        <li routerLink="/" class="item-menu">INICIO</li>
        <li routerLink="/servicios" class="item-menu" >SERVICIOS</li>
        <li routerLink="/productos" class="item-menu">PRODUCTOS</li>
        <li routerLink="/la-empresa" class="item-menu">LA EMPRESA</li>
        <li routerLink="/contacto" class="item-menu">CONTACTO</li>
    </ul>
</nav>
<footer>
    <img class="logo-ferraris-matafuegos" src="../../../assets/img/logo-ferraris-matafuegos.webp" alt="">
    <ul class="list-info-local">
        <li>Av. Maipú 319, Centro, Córdoba, Argentina</li>
        <li>Tel/Fax: +543514227109</li>
        <li>WhatsApp: +543516532020</li>
        <li>ferrarismatafuegos@hotmail.com</li>
    </ul>
    <div class="credenciales-logos">
        <img src="../../../assets/img/cefarec-logo-servicio.webp" alt="">
        <img class="utn" src="../../../assets/img/logo-utn.webp" alt="">
    </div>
</footer>
    <div class="footer">
        © 2019 Ferraris Matafuegos. Desarrollado por <span class="iqonos"> <img src="../../../assets/img/logo-simple.png" alt=""> IqOnos</span>
    </div>