<app-header-page title="NUESTROS SERVICIOS" ></app-header-page>
<main>
    <app-articulo-servicios [img]="lstServicios[0].img" [text]="lstServicios[0].texto" [title]="lstServicios[0].titulo" ></app-articulo-servicios>
    <app-articulo-servicios [img]="lstServicios[1].img" [text]="lstServicios[1].texto" [title]="lstServicios[1].titulo"  [reverse]="true"></app-articulo-servicios>
    <app-section-bg-white [urlImg]="[lstImg[0],lstImg[1],lstImg[2]]" ></app-section-bg-white>
    <app-articulo-servicios [img]="lstServicios[2].img" [text]="lstServicios[2].texto" [title]="lstServicios[2].titulo" ></app-articulo-servicios>
    <app-articulo-servicios [img]="lstServicios[3].img" [text]="lstServicios[3].texto" [title]="lstServicios[3].titulo"  [reverse]="true"></app-articulo-servicios>
    <app-section-bg-white [urlImg]="[lstImg[3],lstImg[4],lstImg[5]]"></app-section-bg-white>
    <app-articulo-servicios [img]="lstServicios[4].img" [text]="lstServicios[4].texto" [title]="lstServicios[4].titulo" ></app-articulo-servicios>
    <app-articulo-servicios [img]="lstServicios[5].img" [text]="lstServicios[5].texto" [title]="lstServicios[5].titulo"  [reverse]="true"></app-articulo-servicios>
    <app-articulo-servicios [img]="lstServicios[6].img" [text]="lstServicios[6].texto" [title]="lstServicios[6].titulo" ></app-articulo-servicios>
</main>