<main>

    <app-img-home></app-img-home>
    <h1>FERRARIS MATAFUEGOS</h1>
    <section class="section-info-local">
        <svg class="svg-top" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
            <path fill="#fff" fill-opacity="1"
                d="M0,224L60,213.3C120,203,240,181,360,154.7C480,128,600,96,720,90.7C840,85,960,107,1080,128C1200,149,1320,171,1380,181.3L1440,192L1440,0L1380,0C1320,0,1200,0,1080,0C960,0,840,0,720,0C600,0,480,0,360,0C240,0,120,0,60,0L0,0Z">
            </path>
        </svg>

        <p class="container-txt-descripcion">
            Somos una empresa con trayectoria y ya tradicional en el mercado, nos especializamos en la comercialización
            y mantenimiento de elementos e instalaciones de protección contra incendios.<br>
            Nuestra labor cumple con la importancia de ser certificada y así proveer de mayor seguridad. Nuestros
            clientes nos dan su confianza debido a la calidad y precisión de nuestras tareas. Somos un equipo dispuesto
            en su totalidad al servicio de quien lo necesite. Lo invitamos a ser parte, no dude en contactarse con
            nosotros.
        </p>

        <svg class="svg-bottom" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
            <path fill="#fff" fill-opacity="1"
                d="M0,224L60,224C120,224,240,224,360,208C480,192,600,160,720,160C840,160,960,192,1080,192C1200,192,1320,160,1380,144L1440,128L1440,320L1380,320C1320,320,1200,320,1080,320C960,320,840,320,720,320C600,320,480,320,360,320C240,320,120,320,60,320L0,320Z">
            </path>
        </svg>
    </section>
    <h2>NO LUCHE CONTRA EL FUEGO, EXTÍNGALO.</h2>
</main>