<app-header-page title="SOBRE NOSOTROS"></app-header-page>
<main>
    <section class="container-sobre-nosotros">
        <p>
            Ferraris surgió en 1968 con la fabricación de sifones automáticos propios. Desde mediados de la década del
            70
            hemos dedicado nuestro tiempo a la seguridad contra incendios, empezando por la fabricación de extintores
            Ferragas. Con el paso del tiempo decidimos ampliar los distintos productos y servicios, de la mano de
            mejoras en
            cuanto a logística y tecnología. Nos sostuvimos en el tiempo basándonos en las premisas de calidad y
            seriedad
            ante cada detalle. Hoy en día el asesoramiento a cada uno de nuestros clientes y la respuesta eficaz en
            nuestra
            labor son los pilares de lo que brinda esta empresa.
        </p>
        <div class="container-imagenes">
            <figure>
                <img src="../../../assets/img/empresa/instructivos-sifones.webp" alt="">
                <figcaption>Instructivo de los primeros sifones</figcaption>
            </figure>
            <figure>
                <img src="../../../assets/img/empresa/sifon-ferraris.webp" alt="">
                <figcaption>Sifón Ferraris</figcaption>
            </figure>
            <figure>
                <img src="../../../assets/img/empresa/equipo-completo.webp" alt="">
                <figcaption>Equipo completo Ferraris</figcaption>
            </figure>
            <figure>
                <img src="../../../assets/img/empresa/matafuegos-ferragas.webp" alt="">
                <figcaption>Matafuego Ferragas</figcaption>
            </figure>
            <figure class="last-figure">
                <img src="../../../assets/img/empresa/publicidad-ferraris.webp" alt="">
                <figcaption>Desde el primer día los sifones Ferraris se destacaban por ser prácticos, económicos,
                    seguros y fáciles de usar.</figcaption>
            </figure>
        </div>
        <p>
            Imágenes de los primeros años del Sifón Ferraris en Río Cuarto. El film muestra la ExpoRural de 1968 y la
            planta industrial donde se fabricaban los equipos.
        </p>
        <iframe class="frame-video"  width="560" height="315" src="https://www.youtube.com/embed/vZpUe8UHTek" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen></iframe>
        <h3 class="txt-no-luche">NO LUCHE CONTRA EL FUEGO, EXTÍNGALO.</h3>
    </section>
</main>