nav {
    background: #fff;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    padding: 7px;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 4px 2px 15px rgba($color: #000000, $alpha: 0.35);
    z-index: 500;
    min-height: 75px;
    .container-nav{
        width: 100vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: auto;
    }
    .container-icon-menu {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .logo-ferraris {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        display: flex;
        flex-direction: column;
        width: 150px;
        justify-content: center;
        align-items: center;

        img {
            width: 110px;
        }

        P {
            font-size: 9px;
            font-weight: 600;
        }
    }

    .container-utn-caferac-logo {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;

        img {
            width: 35px;
        }
    }
}

.container-menu {
    transition: 1s;
    position: fixed;
    display: block;
    top: 0;
    left: -100vw;
    width: 100vw;
    height: 100vh;
    z-index: 10001;
    background: #fff;
    padding: 15px 15px 60px 15px;
    overflow-y: scroll;

    .header-menu {
        display: flex;
        justify-content: space-between;
        margin-bottom: 35px;

        img {
            width: 75px;
        }
    }

    .container-items-menu {
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 15px;
        margin-left: 15px !important;

        .item-menu {
            font-size: 18px;
            font-weight: 600;
        }
        .item-menu.active{
            color: #DC3623;
        }
    }

    .container-item-info-local {
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 5px;
        margin: 50px 0 0 15px !important;

        .item-info-local {
            font-size: 14px;
            display: flex;
            align-items: center;
            gap: 5px;

            img {
                width: 24px;
                height: 24px;
                object-fit: contain;
            }

            .icon-info-local {
                width: 24px;
                height: 24px;
                font-variation-settings: "FILL" 1;
            }
        }
    }
}

.container-menu.active {
    left: 0;
}

.container-menu::-webkit-scrollbar {
    display: none;
}

.backdrop-menu {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10000;
    background-color: rgba($color: #000000, $alpha: 0.5);
}

.backdrop-menu.active {
    display: block;
}

.container-header-nav {
    display: none;
}

.container-items-menu-no-bar {
    display: none;
}

@media (min-width:425px) {
    nav {
        min-height: 80px;

        .logo-ferraris {
            width: 170px;

            img {
                width: 120px;
            }

            P {
                font-size: 10px;
            }
        }
    }

    .container-menu {
        left: -335px;
        width: 335px;
    }

}

@media (min-width:768px) {
    .container-header-nav {
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 35px;
        background: #901414;
        color: #fff;
        padding: 5px;

        .container-item-info-header {
            max-width: 1024px;
            display: flex;
            list-style: none;
            justify-content: space-between;
            align-items: center;
            width: 100%;

            .item-info-header {
                display: flex;
                align-items: center;
                gap: 5px;

                .icon-info-header {
                    font-size: 19px;
                    font-variation-settings: "FILL" 1;
                }

                .txt-item-header {
                    font-size: 11px;
                    font-weight: 300;
                }

                img {
                    width: 19px;
                    height: 19px;
                    object-fit: contain;
                    filter: invert(100%);
                }
            }
        }
    }

    nav {
        margin-top: 35px;

        .logo-ferraris {
            width: 180px;

            img {
                width: 135px;
            }

            P {
                font-size: 10px;
            }
        }

        .container-items-menu-no-bar {
            display: flex;
            list-style: none;
            justify-content: space-between;
            align-items: center;
            gap: 20px;

            .item-menu-no-bar {
                font-weight: 600;
                font-size: 14px;
                cursor: pointer;
            }
            .item-menu-no-bar.active {
                color: #DC3623;
            }
        }

        .container-icon-menu {
            display: none;
        }

        .logo-ferraris {
            position: relative;
            margin: 0;
        }

        .container-utn-caferac-logo {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 5px;

            img {
                width: 50px;
            }
        }

    }
}

@media (min-width:805px) {

    .item-menu-no-bar {
        font-size: 16px;
    }

}

@media (min-width:1024px) {
    .container-header-nav {

        .container-item-info-header {

            .item-info-header {
                .txt-item-header {
                    font-size: 14px;
                    font-weight: 400;
                }
            }
        }
    }

    nav {
        margin-top: 35px;
        .container-nav{
            max-width: 1200px;
        }
        .logo-ferraris {
            width: 160px;

            img {
                width: 150px;
            }

            P {
                font-size: 10px;
            }
        }

        .container-items-menu-no-bar {
            .item-menu-no-bar {
                font-size: 18px;
                font-weight: 600;
            }
        }

        .container-icon-menu {
            display: none;
        }

        .logo-ferraris {
            position: relative;
            margin: 0;
        }

        .container-utn-caferac-logo {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 5px;

            img {
                width: 60px;
            }
        }

    }

}

@media (min-width:1440px) {
    nav {
        .logo-ferraris {
            width: 230px;

            img {
                width: 220px;
            }

            P {
                font-size: 14px;
            }
        }



        .container-utn-caferac-logo {
            img {
                width: 80px;
            }
        }

    }
}